<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <!-- <include file="$(find legged_robots_sims)/launch/spawn_monoped.launch"/>
    <include file="$(find legged_robots_sims)/launch/monoped_control.launch"/> -->

    <!-- Params -->
    <!-- These are the arguments you can pass this launch file, for example paused:=true -->
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="hardware_interface" default="PositionJointInterface"/>
    <arg name="robot_name" default="iiwa" />
    <arg name="model" default="iiwa7"/>

    <arg name="trajectory" default="true"/>
    <arg name="namespace" default="/"/>

    <!-- <remap from="reflex_takktile_2/joint_states" to="joint_states"/> -->
    <!-- <remap from="reflex_takktile_2/joint_states" to="iiwa/joint_states"/> -->
     <group ns="/">
        <remap from="/reflex_takktile_2/joint_states" to="/iiwa/joint_states"/>
    </group>


    <!-- Robot iiwa description --> <!-- Note the syntax to pass a vector -->
    <!-- <arg name="origin_xyz" default="'0 0 0'"/> 
    <arg name="origin_rpy" default="'0 0 0'"/> -->
    <!-- <param name="robot_description" command="$(find xacro)/xacro '$(find iiwa_description)/urdf/iiwa7.urdf.xacro' hardware_interface:=$(arg hardware_interface) robot_name:=$(arg robot_name) origin_xyz:=$(arg origin_xyz) origin_rpy:=$(arg origin_rpy)" /> -->
    <!-- Run a python script to send a service call to gazebo_ros to spawn a URDF robot -->
    <!-- <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model iiwa -param robot_description"/> -->

    <group >
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model iiwa -param robot_description"/>
    </group>


    <!-- Controller -->
    <!-- ns="$(arg namespace)" -->
    <!-- <group >
        <include file="$(find iiwa_gazebo)/launch/controller_iiwa.launch">
        <arg name="namespace" value="$(arg namespace)" />
        <arg name="trajectory" value="$(arg trajectory)" />
    </include>

    </group> -->
   

    <!-- <include file="$(find iiwa_control)/launch/iiwa_control.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="controllers" value=" $(arg hardware_interface)_trajectory_controller" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="model" value="$(arg model)" />
    </include> -->

       <!-- Spawn controllers - it uses a JointTrajectoryController -->
    <!-- ns="$(arg namespace)" -->
    <group  if="$(arg trajectory)">
        <include file="$(find iiwa_control)/launch/iiwa_control.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="controllers" value=" $(arg hardware_interface)_trajectory_controller" />
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="model" value="$(arg model)" />
        </include>

    </group>


    <!-- Spawn controllers - it uses an Effort Controller for each joint -->
    <!-- ns="$(arg namespace)" -->
    <group  unless="$(arg trajectory)">

        <include file="$(find iiwa_control)/launch/iiwa_control.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="controllers" value="
                $(arg hardware_interface)_J1_controller
                $(arg hardware_interface)_J2_controller
                $(arg hardware_interface)_J3_controller
                $(arg hardware_interface)_J4_controller
                $(arg hardware_interface)_J5_controller
                $(arg hardware_interface)_J6_controller
                $(arg hardware_interface)_J7_controller"/>
            <arg name="robot_name" value="$(arg robot_name)" />
            <arg name="model" value="$(arg model)" />
        </include>

    </group>

    <!-- Reflex -->
    <group >
        <include file="$(find reflex_gazebo)/launch/reflex_tool_v2.launch">
        </include>

    </group>
    
    <!-- Run moveit planning execution -->
    <!-- <include file="$(find iiwa_test_3_moveit)/launch/moveit_planning_execution.launch">
    </include> -->
    <!-- ns="$(arg robot_name)" -->
    <group >
        <include file="$(find iiwa_test_3_moveit)/launch/moveit_planning_execution_v2.launch">
        </include>
    </group>
</launch>